- set_page_title "Accessibility Policy"

= fullwidth do

		%h1 Accessibility

		%h2 Overview

		%p
				We've tried to ensure this site is as accessible and usable as possible for everyone, including partially sighted users using screen-readers, and colour-blind users. Some of the measures we have taken are listed below:

		%ul

				%li Nothing in the site is indicated by colour alone.
				%li Semantic Markup is used throughout.
				%li JavaScript is used as a progressive enhancement: all of the main features are available to users without JavaScript-enabled browsers.
				%li We have used a responsive display framework which adapts to users with small screens (e.g. mobile devices).

		%p
				Please let us know if you encounter any accessibility issues by getting in touch.
