- set_page_title "Linked Development"
- set_pmd_page_class 'doc_home'

%section
	= row do
		.pmd_box_has_sidebar
			%img{src:"largelogo.png", alt:"Linked Development", style:"margin:48px 0;max-width:100%;"}
			%p{style:"font-weight:bold;"} This platform has been developed as an incubator for a number of linked datasets of value to the International Development community.
			%p It currently hosts data from:
			%ul
				%li <a href="http://r4d.dfid.gov.uk/">Research for Development</a>
				%li <a href="http://www.eldis.org/">ELDIS</a>
			%p And draws upon a number of other key datasets. There are three ways to access the data here:
			%ul
				%li Via <a href="https://en.wikipedia.org/wiki/SPARQL">SPARQL</a> - the query language for linked data
				%li By dereferencing selected URIs - giving access to human and machine-readable data
				%li Via a simple API - based on the IDS API for accessing data on publications

			%h3 Why linked data?
			%p Linked data is an approach to publishing data on the web. Linked data uses URIs to identify entities in a dataset, and returns machine-readable data when those URIs are looked up (dereferenced). When different datasets use shared identifiers to represent items and properties then it becomes easier to combine datasets from difference sources.
			%p Unlike conventional databases or spreadsheet formats, which constrain how data can be represented, forcing it into columns, rows and pre-defined schema, linked data uses a graph structure to represent data, making it very extensible. That means that when data is brought together from different sources it does not have to adopt a lowest common denominator approach to data integration, but allows flexibility in how data is stored and combined.

			%h3 Who are we?

			%p
				:markdown
					The Linked Development project is supported by Research4Development for [DFID](https://www.gov.uk/government/organisations/department-for-international-development) and carried out by [CABI](http://www.cabi.org/), [IDS](http://www.ids.ac.uk/), [Practical Participation](http://www.practicalparticipation.co.uk/) and [Swirrl](http://www.swirrl.com/).

					Questions can be directed to [tim@practicalparticipation.co.uk](mailto:tim@practicalparticipation.co.uk).

		.pmd_box_sidebar
			%h3 Recent Updates
			%p
				%span.date DATE
				Platform beta release.
				%p
					Migrated to use <a href="http://swirrl.com/">Swirrl's</a> <a href="http://www.swirrl.com/publishmydata">Publish My Data</a> platform.
				%p
					API Rewriten by <a href="http://swirrl.com/">Swirrl</a> using <a href="http://rubyonrails.org/">Ruby on Rails</a>.
			%p
				%span.date 11th June 2013
				Alpha release with basic SPARQL and browse features.
			%p
				%span.date 10th Jan 2013
				Proof of concept release for Research2Impact Hack
			%h3 Status
			%p The Linked Development site is currently under active development.
			%p This should be considered an <strong>beta release</strong>.
