- set_page_title "Privacy & Cookies Policy"

= fullwidth do

		%h1 Privacy and Cookies

		%h2 Cookies

		%p
				This website sometimes places small files on your computer, known as cookies. Many other websites do this too. Our cookies aren’t used to identify you personally.

		%p
				In particular, this site uses Google Analytics cookes to collect information about people using the site, to help us improve the service. For more details see the Google Analytics Privacy Overview. We do not allow Google to use or share our analytics data.

		%h2 Privacy

		%p
				We may collect the following information from people visiting the website:


		%ul
				%li Feedback that people leave, including email addresses, twitter usernames or Github usernames, depending on the method of communication
				%li Visitors' IP addresses, and details of which browser they used
				%li Information on how people use the site, including the use of cookies
				%li If you sign up for an API key, we store the associated email address and keep records of the requests made using the API key

		%p
				Information we collect is only used to improve the service. We don't share your information with other organisations for commercial purposes and we don't pass on your details to other websites.
