Website: &copy; <%= Time.now.year %> Crown Copyright &amp; <a href="http://www.swirrl.com">Swirrl IT Limited</a>.
Powered by the <a href="http://www.swirrl.com/publishmydata">PublishMyData Linked Data Platform</a>.<br/>
Refer to invididual <%= link_to "datasets", publish_my_data.datasets_path %> for data licences. Feedback: <%= link_to "hello@swirrl.com", "mailto:hello@swirrl.com" %>