$pmdconfig_typeface_bodycopy: "helvetica neue",helvetica,arial,sans-serif;
$pmdconfig_colour_link: #f3772e;
$pmdconfig_colour_link_hover: #e83808;

.linkeddev-logo {
	margin-top: 12px;
	margin-bottom: 12px;
}

@import "publish_my_data.scss";
